version: "3.8"

services:
  app:
    image: ghcr.io/lgastler/shuto-api:latest
    env_file: .env
    ports:
      - "8080:8080"
    volumes:
      - ./domains.yaml:/app/config/domains.yaml:ro
      - ./rclone.conf:/root/.config/rclone/rclone.conf:ro
      - ./images:/app/images
    command: ["./main"]
